DB_HOST="[DATABASE HOST HERE]"
DB_USER="[DATABASE USER HERE]"
DB_PASSWORD="[DATABASE PASSWORD HERE]"
DB_NAME="PP-Dev"
AUTH_SECRET="c2IhOowR/cjPN2YUGg7Fj2vy5aX+UVETBA/tt5NH0Fo="
AUTH_GOOGLE_CALLBACK="http://localhost:3000/auth/callback/google"
AUTH_GOOGLE_ID="[GOOGLE CLIENT ID HERE]"
AUTH_GOOGLE_SECRET="[GOOGLE CLIENT SECRET HERE]"
AUTH_TYPEORM_CONNECTION="[POSTGRES CONNECTION STRING HERE]"
CLIENT_URL="[CLIENT URL HERE]"
IS_PRODUCTION="false"
