# Node dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Enviroment Variables
.env
.env.*

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# Testing report
ctrf-report.json
src/Tests/*.json
src/Tests/*.xml
tests/coverage